@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: black;
}

@media (max-width: 360px) {
   .body{
        overflow-x: hidden;
   }
    
}

::-webkit-scrollbar {
    width: 12px;
    background: black;
}

.sec.dark body {
    background: #f2f7ff !important;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #fbfafb);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: linear-gradient(transparent, #fafafa);
    border-radius: 6px;
}

ul {
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

main {
    display: grid;
    background-color: black;
    transition: 0.5s;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header" "home home home home" "sobre sobre sobre sobre" "servicos servicos servicos servicos" "portfolio portfolio portfolio portfolio" "contato contato contato contato" "footer footer footer footer";
}

.sec.dark main {
    background-color: #f2f7ff;
}




/*WHATSAPP*/

.whatsapp-ico {
    fill: white;
    width: 70px;
    height: 70px;
    padding: 3px;
    background: linear-gradient(90deg, #07af1a, #2db508);
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgb(2, 2, 10);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

.whatsapp-ico:hover {
    box-shadow: 0px 5px 50px 0px #2df700 inset, 0px 5px 50px 0px #067f12, 0px 5px 50px 0px #f2eff1 inset, 0px 5px 50px 0px #19ce01;
}

.face {
    margin-top: 30px;
}

[data-anime] {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    transition: .8s;
}

[data-anime="scroll"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: .8s;
}

[data-semana]::after {
    display: inline-block;
    content: '';
    width: 6px;
    height: 6px;
    background: #E54;
    border-radius: 50%;
    margin-left: 4px;
    border: 2px solid #000;
}

[data-semana].aberto::after {
    background: #3F4;
}
/* Centraliza o vídeo dentro da seção */
.video-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 100%; /* Impede que ultrapasse a largura da tela */
        margin: 0 auto; /* Centraliza o vídeo */
}
 @media (max-width: 600px) {
        .video-container{
            width: 50%;
            margin: 0 auto; /* Centraliza o vídeo */
        }
    }
    @media (max-width: 400px) {
        .video-container{
            width: 40%
            margin: 0 auto; /* Centraliza o vídeo */
        }
    }
    @media (max-width: 320px) {
        .video-container{
            width: 30%;
            margin: 0 auto; /* Centraliza o vídeo */
        }
    }
    @media (max-width: 200px) {
        .video-container{
            width: 30%;
            margin: 0 auto; /* Centraliza o vídeo */
        }
    }


html,
body {
  height: 100%;
  margin: 0;
}

gmpx-store-locator {
  width: 100%;
  height: 100%;

  /* These parameters customize the appearance of Locator Plus. See the documentation at
     https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md
     for more information. */
  --gmpx-color-surface: #fff;
  --gmpx-color-on-surface: #212121;
  --gmpx-color-on-surface-variant: #757575;
  --gmpx-color-primary: #1967d2;
  --gmpx-color-outline: #e0e0e0;
  --gmpx-fixed-panel-width-row-layout: 28.5em;
  --gmpx-fixed-panel-height-column-layout: 65%;
  --gmpx-font-family-base: "Roboto", sans-serif;
  --gmpx-font-family-headings: "Roboto", sans-serif;
  --gmpx-font-size-base: 0.875rem;
  --gmpx-hours-color-open: #188038;
  --gmpx-hours-color-closed: #d50000;
  --gmpx-rating-color: #ffb300;
  --gmpx-rating-color-empty: #e0e0e0;
}
